Package: trig-function
Version: 1.0-1
Architecture: amd64
Maintainer: Dmitrij Nikolaenko <nikolaenkodmitrij2004@gmail.com>
Installed-Size: 25
Depends: libc6 (>= 2.34), libstdc++6 (>= 4.4)
Section: utils
Priority: optional
Description: Trigonometric function calculation program
  Implementation of arctangent series calculation.
